@import '../../../../styles/imports';

.double-trouble{
    height: 100%;
    @include centerContent;
  
    &__container {
      width: max-content;
      display: grid;
      gap: 5rem;
      align-items: center;
    }
  
    &__options {
      display: grid;
      gap: 5rem;
      grid-template-columns: repeat(2, max-content);
    }
}