@import "../../styles/imports";

.replay {

  position: fixed;
  top: 0;
  left: 0;
  z-index: $z30;
  pointer-events: all;
  width: 100vw;
  height: 100vh;
  background-color: $darkPurple;

  &__container {
    height: 100%;
    @include centerContent;
  }
}
