@import "../../../../styles/imports";

.gram-reas {
  height: 100%;
  @include centerContent;

  &__container {
    width: max-content;
    display: grid;
    gap: 8rem;
    align-items: center;
  }

  &__options {
    display: grid;
    gap: 5rem;
    grid-template-columns: repeat(2, max-content);
  }

  &__challenge {
    &--outer {
      height: 15rem;
      width: 15rem;
      margin: auto;
      @include centerContent;
    }

    &--inner {
      height: 7rem;
      width: 7rem;
    }

    &--text{
      font-size: 3rem;
      color: white;
      font-weight: 500;
      // text-transform: capitalize;
    }
  }
}
