@import "../../../styles/imports";

.ts-inst {
  @include instructionsPage;

  &__indicators {
    display: grid;
    gap: 2rem;
  }

  &__indicator {
    width: 8rem;
    height: 8rem;
    @include tokenIndicators;

    &-container {
      display: grid;
      grid-template-columns: max-content 1fr;
      gap: 2rem;
      align-items: center;
    }

    &-explain {
      &-container {
        text-align: left;
      }

      &-title {
        font-size: 1.4rem;
        color: white;
        font-weight: 900;
        text-transform: uppercase;
      }

      &-details {
        font-size: 1.4rem;
        color: white;
        font-weight: 400;
        text-transform: capitalize;
      }
    }
  }
}
