@import "./imports";

h1 {
  font-size: 3rem;
  color: white;
  font-weight: 500;
}

h2 {
  font-size: 1.4rem;
  color: white;
  font-weight: 400;
}

.choice {
  text-transform: uppercase;
  font-size: 5rem;
  letter-spacing: 4px;
  font-weight: 500;
  user-select: none;

  &--red {
    color: $red;
  }

  &--blue {
    color: $blue;
  }

  &--border {
    width: 25rem;
    padding: 3rem;
    border: $border;
    border-radius: 8rem;
  }
}

.label {
  text-transform: uppercase;
  color: $lightPurple;
  font-size: 1.4rem;
  font-weight: 500;
  letter-spacing: 3px;
}

.clickable {
  cursor: pointer;
}
