@import "../../styles/imports";

.instructions {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: $z20;
  @include scroll;

  &__checkbox {
    display: none;

    &:checked ~ .instructions__container {
      visibility: visible;
      opacity: 1;
    }

    &:not(:checked) {
      visibility: hidden;
      opacity: 0;
    }
  }

  &__container {
    top: 0;
    left: 0;
    background-color: $darkPurple;
    visibility: hidden;
    opacity: 0;
    margin: 7rem auto;
    transition: all 2s;
  }

  &__finish {
    font-size: 1.8rem;
    font-weight: 500;
    color: $green;
    border: 1px solid $green;
    border-radius: 4rem;
    padding: 1rem 3rem;
    width: max-content;
    margin: auto;
    transition: 0.2s;
    cursor: pointer;

    &:hover {
      color: $darkPurple;
      background-color: $green;
    }
  }
}
