@import '../../../../../../styles/imports';

.heart-half{
    width: 6rem;
    height: 6rem;
    padding-top: 0.7rem;
    border-radius: 100%;
    border: 1px solid tomato;

    @include centerContent; 
}