@import "../../../../../styles/imports";

.play-button {
  margin: auto;
  @include centerContent;

  &__text {
    margin-top: 3rem;
    color: $green;
    font-size: 2rem;
    font-weight: 500;
  }

  &__button {
    &-container {
      padding: 0.5rem 0 0 0.5rem;
      width: 10rem;
      height: 10rem;
      border: 1px solid $green;
      border-radius: 100%;
      cursor: pointer;
      transition: all 0.2s;
      @include centerContent;

      &:hover {
        background-color: $green;
      }

      &:hover .play-button__button-svg {
        fill: $darkPurple;
      }
    }

    &-svg {
      width: 25px;
      height: 25px;
      fill: $green;
    }
  }
}
