@import "../../../styles/imports";

.cb-inst {
  display: grid;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  text-align: center;

  &__samples {
    &-container {
      display: grid;
      gap: 1.5rem;
      grid-template-columns: max-content 1fr;
      align-items: center;
    }

    &-text {
      text-align: left;;
    }
    &-block {
      width: 7rem;
      height: 7rem;
      border-radius: .5rem;

      &--running {
        background-color: $greyPurple;
      }

      &--highlighted {
        background-color: $lightPurple;
      }

      &--done {
        background-color: $green;
      }
    }
    &-title {
      font-size: 1.4rem;
      color: white;
      font-weight: 900;
      text-transform: uppercase;
    }
    &-order {
      font-size: 1.4rem;
      color: white;
      font-weight: 400;
    }
  }
}
