@import "../../../../../styles/imports";

.new-level {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: $darkPurple;
  padding: 4rem;
  z-index: $z20;
  @include centerContent;

  color: white;
  font-size: 4rem;

  &__indicator {
    &-container {
      display: grid;
      gap: 4rem;
      align-content: center;
      justify-items: center;
    }

    &-text {
      font-size: 3rem;
      font-weight: 500;

      &--fail {
        color: $red;
      }

      &--success {
        color: $green;
      }
    }

    &-icon {
      width: 10rem;
      height: 10rem;
      border-radius: 100%;
      padding: 3rem;
      @include centerContent;

      &--success {
        border: 1px solid $green;
      }

      &--fail {
        border: 1px solid $red;
      }
    }
  }
}
