@import "../../../../../../styles/imports";

.heart-half {
  width: 6rem;
  height: 6rem;
  position: relative;
  &__active {
    position: absolute;
    width: 3rem;
    height: 6rem;
    z-index: $z50;
  }

  &__lost {
    position: absolute;
    width: 6rem;
    height: 6rem;
    overflow: hidden;
    z-index: $z100;
  }
}
