@import "../../../../../../styles/imports";

.count-down {
  position: relative;
  margin: auto;
  @include centerContent;
  &__count {
    width: 12rem;
    height: 12rem;
    color: $lightPurple;
    font-size: 4rem;
    font-weight: 500;
    border-radius: 100%;
    @include centerContent;

  }

  &__go {
    width: 15rem;
    height: 15rem;
    color: white;
    border: 1px solid white;
    font-size: 4rem;
    font-weight: 500;
    border-radius: 100%;
    @include centerContent;
  }

  &__ray {
    position: absolute;
    top: 0;
    left: 0;
    width: 1rem;
    height: 6rem;
    background-color: $redOrange;
  }
}


