@import "../../../../../../styles/imports";

.round-complete {
  @include centerContent;

  &__check {
    width: 8rem;
    height: 8rem;
    fill: $green;

    &-container {
      width: 14rem;
      height: 14rem;
      border: 1px solid $green;
      padding: 4.2rem 2.5rem 2.5rem 3rem;
      border-radius: 100%;
      @include centerContent;
    }
  }

  &__text {
    color: $green;
    margin-top: 1rem;
    font-size: 3.5rem;
    font-weight: 500;
  }
}
