@import "../../../../../styles/imports";

.timer {
  height: 100%;
  padding: 3rem;

  grid-template-rows: 1fr max-content;
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;

  &__bar {
    width: 0.8rem;
    min-height: 0.8rem;
    margin-bottom: 1px;
    border-radius: 0.5rem;
    background-color: $lightPurple;

    &-container {
      width: 0.8rem;
      height: 100%;
      border-radius: 0.5rem;
      background-color: $darkPurple;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
  }

}
