@import "../../../../styles/imports";

.token-search {
  height: 100%;
  @include centerContent;

  &__container {
    width: max-content;
    display: grid;
    grid-template-columns: repeat(5, 9rem);
    grid-template-rows: repeat(5, 9rem);
    gap: 1rem;
    align-items: center;
  }
}
