@import "../../../styles/imports";

.sidebar {
  display: grid;
  user-select: none;
  max-height: 100vh;
  &--f-2 {
    grid-template-rows: 3fr repeat(2, 1fr);
  }

  &--f-3 {
    grid-template-rows: 3fr repeat(3, 1fr);
  }

  &__panel {
    background-image: $purpleGradient;
  }

  &__label {
    font-size: 3rem;
    font-weight: 500;
    color: white;
  }
}
